body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
}

thead {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Botões arredondados */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button.livre {
    background-color: #28a745;
    color: white;
}

button.livre:hover {
    background-color: #218838;
}

button.reservado {
    background-color: #ffc107;
    color: white;
}

button.reservado:hover {
    background-color: #e0a800;
}

button.pago {
    background-color: #dc3545;
    color: white;
}

button.pago:hover {
    background-color: #c82333;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 150px;
}